<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google OAuth</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <div class="main w-screen h-screen flex items-center justify-center bg-[#181818]">

        <div
            class="sign-up-container w-[400px] h-[500px] bg-[#1f1f1f] rounded-[10px] flex flex-col items-center  gap-10">

            <h1 class="text-white text-[20px] tracking-tighter mt-[80px]">Welcome to Google OAuth! </h1>
            <div class="button-container mt-[100px]">
                <a href="/auth/google"
                    class="google-oauth-button px-10 py-2 bg-white text-black rounded-[5px] hover:bg-gray-200">
                    Sign in with Google
                </a>
            </div>

        </div>

</body>

</html>